ion-title{
    color: #274755;
}
ion-select {
    --background: #F29F95;
    --placeholder-color: #274755;
    --placeholder-opacity: 0.8;
    color: #274755;
    border-radius: 5px;
    border: 1.5px solid #274755;
}
ion-toast.custom-toast::part(message) {
    text-align: center;
    font-size: 1.2rem;
}