<form method="post" [ngStyle]="{ 'overflow-y': isInModal ? 'auto' : 'hidden' }" #formulario="ngForm" (ngSubmit)="guardarDatos(formulario)" *ngIf="titulo === 'Registrar estudiante'">
  <ion-item color="new3">
    <h2>{{ titulo }}</h2>
  </ion-item>
  <ion-item color="new3">
    <ion-grid fixed>
      <h4>Información basica del estudiante</h4>
      <ion-row>
        <ion-col size="12">
          <ion-input [(ngModel)]="datosEstudiante.nombre" name="nombre" label="Nombre/s" label-placement="floating" fill="outline" placeholder="Nombre/s" required></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input [(ngModel)]="datosEstudiante.apellido" name="apellido" label="Apellidos" label-placement="floating" fill="outline" placeholder="Apellidos" required></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input [(ngModel)]="datosEstudiante.documento" name="documento" label="Nro de documento" label-placement="floating" fill="outline" placeholder="Número de documento" required></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input [(ngModel)]="datosEstudiante.fechaNacimiento" name="nacimiento" type="date" label="Fecha de nacimiento" label-placement="stacked" fill="outline" required>
          </ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input [(ngModel)]="datosEstudiante.lugarNacimiento" name="lugar-nacimiento" label="Lugar de nacimiento" label-placement="floating" placeholder="Lugar de nacimiento" fill="outline" required>
          </ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input [(ngModel)]="datosEstudiante.discapacidad" name="dicapacidad" label="Discapacidad o condición médica especial" label-placement="floating" placeholder="Discapacidad o condición médica especial (si aplica)" fill="outline">
          </ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input [(ngModel)]="datosEstudiante.foto" type="file" name="foto" label="Adjuntar foto reciente" label-placement="floating" fill="outline"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  
  <ion-item color="new3">
    <ion-grid fixed>
      <h4>Información de contacto</h4>
      <ion-row>
          <ion-col size="12">
            <ion-input [(ngModel)]="datosEstudiante.direccion" name="direccion" label="Dirección de residencia" label-placement="floating" fill="outline" placeholder="Dirección de residencia" required></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input [(ngModel)]="datosEstudiante.telefono" name="telefono" type="tel" label="Nro telefonico" label-placement="floating" fill="outline" placeholder="Número telefonico"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input [(ngModel)]="datosEstudiante.email" name="email" type="email" label="Correo electronico" label-placement="floating" fill="outline" placeholder="Correo electronico"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>

  <ion-item color="new3">
    <ion-grid fixed>
      <h4>Información del acudiente</h4>
      <ion-row>
        <ion-col>
          <ion-input size="12" [(ngModel)]="datosEstudiante.nombreAcudiente" name="nombre-acudiente"label="Nombre del acudiente" label-placement="floating" fill="outline" placeholder="Nombre del acudiente" required></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input size="12" [(ngModel)]="datosEstudiante.apellidoAcudiente" name="apellido-acudiente"label="Apellido del acudiente" label-placement="floating" fill="outline" placeholder="Apellido del acudiente" required></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input size="6" [(ngModel)]="datosEstudiante.telefonoAcudiente" name="telefono-acudiente"label="Telefono del acudiente" label-placement="floating" fill="outline" type="tel" placeholder="Número telefonico" required></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input [(ngModel)]="datosEstudiante.documentoAcudiente" name="documento-acudiente" label="Nro de documento" label-placement="floating" fill="outline" placeholder="Número de documento" required></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-input [(ngModel)]="datosEstudiante.documentoAcudiente" name="ocupacion-acudiente" label="Ocupación y lugar de trabajo" label-placement="floating" fill="outline" placeholder="Ocupación y lugar de trabajo" required></ion-input>
        </ion-col>
        <ion-select [(ngModel)]="datosEstudiante.estadoCivilAcudiente" name="estado-civil-acudiente" label="Estado civil" label-placement="floating" fill="outline">
          <ion-select-option value="Casado">Casado/a</ion-select-option>
          <ion-select-option value="Soltero">Soltero/a</ion-select-option>
          <ion-select-option value="Comprometido">Comprometido/a</ion-select-option>
          <ion-select-option value="Viudo">Viudo/a</ion-select-option>
          <ion-select-option value="Separado">Separado/a</ion-select-option>
          <ion-select-option value="Divorciado">Divorciado/a</ion-select-option>
        </ion-select>
      </ion-row>
    </ion-grid>
  </ion-item>
  
  <ion-item color="new3">
    <ion-grid fixed>
      <h4>Información academica</h4>
      <ion-row>
        <ion-col size="12">
          <ion-input [(ngModel)]="datosEstudiante.escuelaAnterior" name="escuela-anterior" label="Escuela anterior" label-placement="floating" fill="outline" placeholder="Ingrese la escuela"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input [(ngModel)]="datosEstudiante.gradoAnterior" name="grado-anterior" label="Grado academico anterior" label-placement="floating" fill="outline" placeholder="Ingrese el grado"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input [(ngModel)]="datosEstudiante.promedioAnterior" name="promedio-anterior" label="Promedio general del ultimo año" label-placement="floating" fill="outline" placeholder="Ingrese el promedio"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-select [(ngModel)]="datosEstudiante.gradoACursar" name="grado-a-cursar" label="Nivel academico" label-placement="floating" fill="outline">
            <ion-select-option *ngFor="let nivel of niveles">
              {{ nivel }}°
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-button expand="block" shape="round" color="new" type="submit">Guardar datos</ion-button>
</form>