<ion-card-content class="card-content">

  <div class="card-layout">

    <ion-title class="card-title">
      <ion-card-title >Iniciar Sesión</ion-card-title>
      <ion-card-subtitle >Bienvenido de nuevo</ion-card-subtitle>
    </ion-title>


    <div class="image-section">
      <img src="assets/img/sentada2.png" alt="Login Image">
    </div>

    <div class="form-section">
      <form [formGroup]="loginForm" novalidate class="login-box">
        <ion-title class="form-title">Autenticacion</ion-title>
      
        <ion-item>
          <ion-label position="floating">Usuario:</ion-label>
          <ion-input formControlName="username" placeholder="Ingrese el usuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Ingrese la contraseña"></ion-input>
        </ion-item>

        <ion-button expand="block" class="primary" [disabled]="!loginForm.valid" (click)="login()">
          Ingresar
        </ion-button>
        <ion-footer>
          <a [routerLink]="'/forget-password'">¿Olvidaste tu contraseña?</a>
        </ion-footer>
      </form>

    </div>
  </div>
</ion-card-content>