<div class="container">
  <ion-segment color="new7" [scrollable]="true">
    <ion-segment-button value="first" content-id="first">
      <ion-label>Registrar</ion-label>
    </ion-segment-button>
    <ion-segment-button value="second" content-id="second">
      <ion-label>Buscar</ion-label>
    </ion-segment-button>
    <ion-segment-button value="third" content-id="third">
      <ion-label>Modificar</ion-label>
    </ion-segment-button>
    <ion-segment-button value="fourth" content-id="fourth">
      <ion-label>Eliminar</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <form method="post" #form="ngForm" (ngSubmit)="save(form)">
    <ion-item color="new7">
      <ion-grid fixed>
        <h4>Información básica</h4>
        <ion-row>
          <ion-col size="6">
            <ion-input [(ngModel)]="datosUsuario.first_name" name="first_name" label="1° nombre" label-placement="floating" fill="outline" placeholder="1° nombre" required></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input [(ngModel)]="datosUsuario.second_name" name="second_name" label="2° nombre" label-placement="floating" fill="outline" placeholder="2° nombre"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input [(ngModel)]="datosUsuario.first_lastname" name="first_lastname" label="1° apellido" label-placement="floating" fill="outline" placeholder="1° apellido" required></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input [(ngModel)]="datosUsuario.second_lastname" name="second_lastname" label="2° apellido" label-placement="floating" fill="outline" placeholder="2° apellido"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input [(ngModel)]="datosUsuario.id_card" name="id_card" label="Número de documento" label-placement="floating" fill="outline" placeholder="Número de documento" required></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input [(ngModel)]="datosUsuario.birthdate" name="birthdate" type="date" label="Fecha de nacimiento" label-placement="stacked" fill="outline" required></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input [(ngModel)]="datosUsuario.place_of_birth" name="place_of_birth" label="Lugar de nacimiento" label-placement="floating" placeholder="Lugar de nacimiento" fill="outline" required></ion-input>
          </ion-col>
          <!-- <ion-col size="12" *ngIf="selectedRole === 'estudiante'">
            <ion-input [(ngModel)]="datosUsuario.disability" name="disability" label="Discapacidad o condición médica especial" label-placement="floating" placeholder="Discapacidad o condición médica especial (si aplica)" fill="outline"></ion-input>
          </ion-col> -->
          <ion-col size="12">
            <ion-input 
              type="file" 
              (change)="onFileSelected($event)" 
              accept="image/*" 
              label="Foto de perfil" 
              label-placement="floating" 
              fill="outline">
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item color="new7">
      <ion-grid fixed>
        <h4>Información de contacto</h4>
        <ion-row>
          <ion-col size="12">
            <ion-input [(ngModel)]="datosUsuario.address" name="address" label="Dirección de residencia" label-placement="floating" fill="outline" placeholder="Dirección completa" required></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input [(ngModel)]="datosUsuario.phone" name="phone" type="tel" label="Teléfono" label-placement="floating" fill="outline" placeholder="Número telefónico" required></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input [(ngModel)]="datosUsuario.email" name="email" type="email" label="Correo electrónico" label-placement="floating" fill="outline" placeholder="Correo electrónico" required></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- <ion-item color="new7" *ngIf="selectedRole === 'estudiante'">
      <ion-grid fixed>
        <h4>Información del acudiente</h4>
        <ion-row>
          <ion-col size="6">
            <ion-input [(ngModel)]="datosUsuario.guardian_name" name="guardian_name" label="Nombre del acudiente" label-placement="floating" fill="outline" placeholder="Nombre completo" required></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input [(ngModel)]="datosUsuario.guardian_lastname" name="guardian_lastname" label="Apellido del acudiente" label-placement="floating" fill="outline" placeholder="Apellidos" required></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-input [(ngModel)]="datosUsuario.guardian_phone" name="guardian_phone" label="Teléfono del acudiente" label-placement="floating" fill="outline" type="tel" placeholder="Número telefónico" required></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input [(ngModel)]="datosUsuario.guardian_id_card" name="guardian_id_card" label="Número de documento" label-placement="floating" fill="outline" placeholder="Documento de identidad" required></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-input [(ngModel)]="datosUsuario.guardian_occupation" name="guardian_occupation" label="Ocupación y lugar de trabajo" label-placement="floating" fill="outline" placeholder="Ocupación y lugar de trabajo" required></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-select [(ngModel)]="datosUsuario.guardian_marital_status" name="guardian_marital_status" label="Estado civil" label-placement="floating" fill="outline">
              <ion-select-option value="Casado">Casado/a</ion-select-option>
              <ion-select-option value="Soltero">Soltero/a</ion-select-option>
              <ion-select-option value="Comprometido">Comprometido/a</ion-select-option>
              <ion-select-option value="Viudo">Viudo/a</ion-select-option>
              <ion-select-option value="Separado">Separado/a</ion-select-option>
              <ion-select-option value="Divorciado">Divorciado/a</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->

    <!-- <ion-item color="new7" *ngIf="selectedRole === 'estudiante'">
      <ion-grid fixed>
        <h4>Información académica</h4>
        <ion-row>
          <ion-col size="12">
            <ion-input [(ngModel)]="datosUsuario.previous_school" name="previous_school" label="Escuela anterior" label-placement="floating" fill="outline" placeholder="Nombre de la institución"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input [(ngModel)]="datosUsuario.previous_grade" name="previous_grade" label="Grado académico anterior" label-placement="floating" fill="outline" placeholder="Grado que cursaba"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input [(ngModel)]="datosUsuario.previous_average" name="previous_average" label="Promedio general" label-placement="floating" fill="outline" placeholder="Promedio del último año"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-select [(ngModel)]="datosUsuario.current_grade" name="current_grade" label="Grado a cursar" label-placement="floating" fill="outline" required>
              <ion-select-option *ngFor="let course of courses" [value]="course">{{ course }}°</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->

    <!-- <ion-item color="new7" *ngIf="selectedRole === 'profesor'">
      <ion-grid fixed>
        <h4>Información profesional</h4>
        <ion-row>
          <ion-col size="12">
            <ion-select [(ngModel)]="datosUsuario.specialization" name="specialization" label="Especialización" multiple="true" fill="outline">
              <ion-select-option value="matematicas">Matemáticas</ion-select-option>
              <ion-select-option value="ciencias">Ciencias</ion-select-option>
              <ion-select-option value="lenguaje">Lenguaje</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="6">
            <ion-input [(ngModel)]="datosUsuario.years_experience" name="years_experience" type="number" label="Años de experiencia" fill="outline" required></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->

    <ion-button 
      expand="block" 
      shape="round" 
      color="new8" 
      type="submit" 
      [disabled]="form.invalid || isLoading">
      
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <span *ngIf="!isLoading">Guardar datos</span>
    </ion-button>
  </form>
</div>