<div class="container">
  <ion-segment color="new7" [scrollable]="true" [(ngModel)]="selectedTab">
    <ion-segment-button value="first" content-id="first">
      <ion-icon name="receipt-sharp"></ion-icon>
      <ion-label>Registrar</ion-label>
    </ion-segment-button>
    <ion-segment-button value="second" content-id="second">
      <ion-icon name="search-circle-sharp"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-segment-button>
    <ion-segment-button value="third" content-id="third">
      <ion-icon name="swap-horizontal-sharp"></ion-icon>
      <ion-label>Modificar</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ion-segment-view>
    <ion-segment-content [hidden]="selectedTab !== 'first'" id="first">
    <app-field-form 
      [selectedRole]="selectedRole" 
      mode="create"
      (userCreated)="onUserCreated($event)">
    </app-field-form>
    </ion-segment-content>

  <ion-segment-content [hidden]="selectedTab !== 'second'" id="second">
    <ion-searchbar 
      [ngModel]="searchTerm" 
      (ngModelChange)="handleSearchInput($event)"
      color="new8" 
      show-clear-button="always" 
      clear-icon="trash-bin" 
      placeholder="Buscar por documento"
      maxlength="10" 
      pattern="[0-9]+"
      appNumbersOnly
      debounce="500">
    </ion-searchbar>

    <div *ngIf="isSearching || isLoadingUsers" class="loading-spinner">
      <ion-spinner name="crescent"></ion-spinner>
      <ion-label>{{ isSearching ? 'Buscando...' : 'Cargando lista...' }}</ion-label>
    </div>

    <div *ngIf="searchResults && !isSearching" class="table-container">
      <ion-grid>
        <ion-row class="header-row">
          <ion-col *ngFor="let header of headers">{{header}}</ion-col>
        </ion-row>
        <ion-row class="user-row" (click)="showUserReadyToast(searchResults)">
          <ion-col>{{ searchResults.first_name }} {{ searchResults.first_lastname }}</ion-col>
          <ion-col>{{ searchResults.id_card }}</ion-col>
          <ion-col>{{ searchResults.phone }}</ion-col>
          <ion-col>{{ searchResults.email }}</ion-col>
          <ion-col>
            <ion-button color="new8" (click)="deleteUser($event, searchResults)" [disabled]="isLoading">
              <ion-icon name="close-circle-sharp"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="!searchTerm && !searchResults && !isLoadingUsers" class="table-container">
      <ion-grid>
        <ion-row class="header-row">
          <ion-col *ngFor="let header of headers">{{header}}</ion-col>
        </ion-row>
        <ion-row *ngFor="let user of usersByRole; trackBy: trackByUserId" class="user-row" (click)="showUserReadyToast(user)">
          <ion-col>{{ user.first_name }} {{ user.first_lastname }}</ion-col>
          <ion-col>{{ user.id_card }}</ion-col>
          <ion-col>{{ user.phone }}</ion-col>
          <ion-col>{{ user.email }}</ion-col>
          <ion-col>
            <ion-button color="new8" (click)="deleteUser($event, user)" [disabled]="isLoading">
              <ion-icon name="close-circle-sharp"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="searchTerm && !searchResults && !isSearching" class="no-results">
      <ion-icon name="search-outline" size="large"></ion-icon>
      <p>No se encontraron resultados para "{{ searchTerm }}"</p>
    </div>

    <div *ngIf="usersByRole.length === 0 && !isLoadingUsers && !searchTerm" class="no-users">
      <ion-icon name="people-outline"></ion-icon>
      <p>No hay usuarios registrados</p>
    </div>
  </ion-segment-content>

  <ion-segment-content [hidden]="selectedTab !== 'third'" id="third">
    <app-field-form 
      *ngIf="selectedTab === 'third' && userToEdit"
      [selectedRole]="selectedRole" 
      mode="edit"
      [userToEdit]="userToEdit">
    </app-field-form>
  </ion-segment-content>
  </ion-segment-view>
</div>