/* Contenedor del horario */
.schedule-container {
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
//cerrrar modal
.close-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

ion-button {
  color: var(--ion-color-dark);
}
/* Encabezado del horario */
.schedule-container ion-card-header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}

/* Estilos para títulos */
.schedule-container ion-card-title {
  font-size: 20px;
  font-weight: bold;
}

.schedule-container ion-card-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
  font-size: 14px;
  font-weight: normal;
  color: #555;
  display: block;
  margin-bottom: 5px;

}

/* Tabla del horario */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
}

th, td {
  padding: 10px;
  border: 1px solid var(--ion-color-light);
  text-align: center;
}

th {
  background: var(--ion-color-primary);
  color: white;
  font-weight: bold;
}
tbody tr:nth-child(even) {
  background: var(--ion-color-light);
}