<ion-card class="schedule-container" (click)="openModal()">
  <ion-card-content>
        <div class="close-container" >
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </div>
    <ion-card-subtitle>Curso: 10mo Grado</ion-card-subtitle>
    <ion-card-subtitle>Nombre: Juan Pérez</ion-card-subtitle>
    <table class="schedule-table">
      <thead>
        <tr>
          <th>Hora</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miercoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        
          <td>10:00 AM - 11:30 AM</td>
          <td>Matemáticas</td>
          <td>Historia</td>
          <td>Ciencias</td>
          <td>Lengua</td>
          <td>Educación Física</td>
        </tr>

        <tr>
          <td>11:30 AM - 1:00 PM</td>
          <td>Lengua</td>
          <td>Matemáticas</td>
          <td>Historia</td>
          <td>Ciencias</td>
          <td>Educación Física</td>
        </tr>
        <tr>
          <td>1:00 PM - 2:30 PM</td>
          <td>Historia</td>
          <td>Ciencias</td>
          <td>Lengua</td>
          <td>Matemáticas</td>
          <td>Educación Física</td>
        </tr>
        <tr>
          <td>2:30 PM - 4:00 PM</td>
          <td>Ciencias</td>
          <td>Lengua</td>
          <td>Matemáticas</td>
          <td>Historia</td>
          <td>Educación Física</td>
        </tr>
        <tr>
          <td>4:00 PM - 5:30 PM</td>
          <td>Educación Física</td>
          <td>Ciencias</td>
          <td>Lengua</td>
          <td>Matemáticas</td>
          <td>Historia</td>
 
      </tbody>
    </table>
  </ion-card-content>
</ion-card>