.enrollment-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  background: var(--ion-background-color, #fff);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow:auto;
}
ion-segment {
  margin-bottom: 15px;
  background: #FC8671;;
}
hr {
  border: none;
  border-top: 1px solid var(--ion-color-light, #f4f5f8);
  margin-bottom: 20px;
}