ion-segment{
    max-width: 768px;
    width: 90vw;
    justify-self: center;
    margin: 1rem;
    background-color: #F2EFE3;
    border-radius: 5rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
    justify-items: center;
}
ion-segment-button{
    width: 100%;
}
ion-segment-view{
    margin-top: .5rem;
}
ion-label{
    color: #284353;
    overflow: visible;
}
ion-segment-content{
    height: 80vh;
    overflow-y: auto;
}
.sub-header{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
    margin-top: 1rem;
    --background: #4F6C70;
    border-radius: 1rem;
    width: 90vw;
    justify-self: center;
}
.sub-header ion-label{
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: #F6F7FF;
}
ion-card{
    background-color: #f8efe0;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
    cursor: pointer;
    max-height: 404px;
    border-radius: 1rem;
    transition: all .3s ease;
    justify-items: center;
}
ion-card:hover{
    transform: scale(1.01);
}
ion-col{
    min-width: 323.2px;
}
img{
    height: 100%;
}
ion-card-title{
    text-align: center;
}
ion-card-content{
    padding-bottom: 1rem;
    overflow: hidden;
    display: block;
}
.preview-wrapper {
    max-height: 17rem;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    border: 2px solid rgb(40, 67, 83);
}