
<div *ngIf="isLoaded">
  <ion-segment value="first" color="new">
    <ion-segment-button value="first" content-id="first">
      <ion-label>Cuenta</ion-label>
    </ion-segment-button>
    <ion-segment-button value="second" content-id="second">
      <ion-label>{{ ionLabel1 }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="third" content-id="third">
      <ion-label>Soporte</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-item class="sub-header">
    <ion-label>{{ ionLabel2 }}</ion-label>
    <ion-label *nfIf="ionLabel3">{{ ionLabel3 }}</ion-label>
  </ion-item>
  <ion-segment-view>
    <ion-segment-content id="first">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Cambiar contraseña</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Cerrar sesión</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-segment-content>
    <ion-segment-content id="second">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Información</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{ ionCardTitle1 }}</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
              </ion-card-content>
            </ion-card>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{ ionCardTitle2 }}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card expand="block" (click)="openModal()" class="log">
                <ion-card-header>
                  <ion-card-title>{{ ionCardTitle3 }}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content >
                  <div class="preview-wrapper">
                    <app-log [isInModal]="false"></app-log>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-segment-content>
    <ion-segment-content id="third">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Preguntas frecuentes</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Contactar</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Reportar problema</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-segment-content>
  </ion-segment-view>
</div>