
<div *ngIf="isLoaded">
  <ion-segment color="new" [scrollable]="true" value="second">
    <ion-segment-button value="first" content-id="first">
      <ion-label>Cuenta</ion-label>
    </ion-segment-button>
    <ion-segment-button value="second" content-id="second">
      <ion-label>{{ ionLabel1 }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="third" content-id="third">
      <ion-label>Soporte</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-item class="sub-header">
    <ion-label>{{ ionLabel2 }}</ion-label>
    <ion-label *nfIf="ionLabel3">{{ ionLabel3 }}</ion-label>
  </ion-item>
  <ion-segment-view>
    <ion-segment-content id="first">
      <app-account></app-account>
    </ion-segment-content>
    <ion-segment-content id="second">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{ ionCardTitle1 }}</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                
              </ion-card-content>
            </ion-card>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{ ionCardTitle2 }}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card expand="block" class="log">
                <ion-card-header>
                  <ion-card-title>{{ ionCardTitle3 }}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>  
                  <app-subject></app-subject>
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-segment-content>
    <ion-segment-content id="third">
      <app-support></app-support>
    </ion-segment-content>
  </ion-segment-view>
</div>