<ion-content>
  <form [formGroup]="forgetPasswordForm" class="forget-password-box" (ngSubmit)="onSubmit()">
    <ion-card>

      <ion-header>
        <ion-card-title class="ion-text-center">Recuperar cuenta</ion-card-title>
        <ion-card-subtitle class="ion-text-center">Proceso</ion-card-subtitle>
      </ion-header>

      <ion-card-content>
        <ion-card-header>
          <ion-title class="form-title">Autenticación</ion-title>
          <ion-img src="assets/img/forget.png"></ion-img>
        </ion-card-header>

          <ion-item>
            <ion-icon slot="start" name="person-outline" class="icon-inside"></ion-icon>
            <ion-input formControlName="username" placeholder="Nombre de usuario" aria-label="Nombre de usuario"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" name="mail-outline" class="icon-inside"></ion-icon>
            <ion-input formControlName="email" type="email" placeholder="Correo electrónico" aria-label="Correo electrónico"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" name="lock-closed-outline" class="icon-inside"></ion-icon>
            <ion-input formControlName="oldPassword" type="password" placeholder="Contraseña anterior" aria-label="Contraseña anterior"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" name="lock-closed-outline" class="icon-inside"></ion-icon>
            <ion-input formControlName="newPassword" type="password" placeholder="Nueva contraseña" aria-label="Nueva contraseña"></ion-input>
          </ion-item>
          
          <ion-button expand="block" class="primary" type="submit" [disabled]="!forgetPasswordForm.valid">
            <span>Enviar</span>
          </ion-button>

        <ion-footer></ion-footer>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>