<ion-header>
  <ion-toolbar>
    <ion-title>RECUPERAR CONTRASEÑA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-forget-password">
    <form (ngSubmit)="onSubmit()">
      <ion-header>
        <h1>RECUPERAR CONTRASEÑA</h1>
      </ion-header>
      <ion-item>
        <ion-label position="floating">Correo Electronico:</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit">Enviar</ion-button>
    </form>
  </div>
</ion-content>