
  <ion-card>
    <ion-card-content>
    <ion-card-header>
        <ion-card-title class="ion-text-center">Recuperar Contraseña</ion-card-title>
        <ion-card-subtitle class="ion-text-center">Ingresa tu correo electrónico</ion-card-subtitle>
    </ion-card-header>
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Correo Electrónico:</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" class="ion-margin-top">Enviar</ion-button>
        <ion-button type="button">Volver al inicio</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

