
.container-forget-password{

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 6rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: 2rem;
    border-radius: 20px;



    ion-header{
        width: 100%;
      
    }
    h1{
        box-shadow: none;
        text-align: center;
        background-color:  #F38994;
        color: #ffff;

    }

    ion-item{
        margin: 20px;

        ion-input{
            margin-top: 10px;
    
        }

    }

        ion-button{
      
            text-align: center;
            padding: 10px 20px;
            border-radius: 20px;

    
        }

    
}

